<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product_group_add_on_list.name %>
</p>

<p>
  <strong>Displayindex:</strong>
  <%= @product_group_add_on_list.displayIndex %>
</p>

<p>
  <strong>Logicindex:</strong>
  <%= @product_group_add_on_list.logicIndex %>
</p>

<p>
  <strong>Required:</strong>
  <%= @product_group_add_on_list.required %>
</p>

<p>
  <strong>Product group:</strong>
  <%= ProductGroup.find(@product_group_add_on_list.product_group_id) %>
</p>

<p>
  <strong>User:</strong>
  <%= User.find(@product_group_add_on_list.user_id) %>
</p>

<%= link_to 'Edit', edit_product_group_add_on_list_path(@product_group_add_on_list) %> |
<%= link_to 'Back', product_group_add_on_lists_path %>
