<p id="notice"><%= notice %></p>

<h1>Listing Item Sizes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Item</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @item_sizes.each do |product_item_size| %>
      <tr>
        <td><%= product_item_size.name %></td>
        <td><%= Item.find(product_item_size.item_id).name %></td>
        <td><%= User.find(product_item_size.user_id).name %></td>
        <td><%= link_to 'Show', product_item_size %></td>
        <td><%= link_to 'Edit', edit_item_size_path(product_item_size) %></td>
        <td><%= link_to 'Destroy', product_item_size, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item size', new_item_size_path %>
