<p id="notice"><%= notice %></p>

<h1>Listing Group Addon Lists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>**Displayindex</th>
      <th>**Logicindex</th>
      <th>**Required</th>
      <th>**Group</th>
      <th>**User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group_addon_lists.each do |product_group_add_on_list| %>
      <tr>
        <td><%= product_group_add_on_list.name %></td>
        <td><%= product_group_add_on_list.displayIndex %></td>
        <td><%= product_group_add_on_list.logicIndex %></td>
        <td><%= product_group_add_on_list.required %></td>
        <td><%= Group.find(product_group_add_on_list.group_id).name %></td>
        <td><%= User.find(product_group_add_on_list.user_id).name %></td>
        <td><%= link_to 'Show', product_group_add_on_list %></td>
        <td><%= link_to 'Edit', edit_group_addon_list_path(product_group_add_on_list) %></td>
        <td><%= link_to 'Destroy', product_group_add_on_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group add on list', new_group_addon_list_path %>
