<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group_addon_list.name %>
</p>

<p>
  <strong>Displayindex:</strong>
  <%= @group_addon_list.displayIndex %>
</p>

<p>
  <strong>Logicindex:</strong>
  <%= @group_addon_list.logicIndex %>
</p>

<p>
  <strong>Required:</strong>
  <%= @group_addon_list.required %>
</p>

<p>
  <strong>Group:</strong>
  <%= Group.find(@group_addon_list.group_id).name %>
</p>

<p>
  <strong>User:</strong>
  <%= User.find(@group_addon_list.user_id).name %>
</p>

<%= link_to 'Edit', edit_group_addon_list_path(@group_addon_list) %> |
<%= link_to 'Back', group_addon_lists_path %>
