<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @addon_list_item.name %>
</p>
<p>
  <strong>Displayindex:</strong>
  <%= @addon_list_item.displayIndex %>
</p>
<p>
  <strong>User:</strong>
  <%= User.find(@addon_list_item.user_id).name %>
</p>

<p>
  <strong>product_add_on_list:</strong>
  <%= AddonList.find(@addon_list_item.addon_list_id).name %>
</p>

<p>
  <strong>product_add_on:</strong>
  <%= Addon.find(@addon_list_item.addon_id).name %>
</p>

<%= link_to 'Edit', edit_addon_list_item_path(@addon_list_item) %> |
<%= link_to 'Back', addon_list_items_path %>
