<p id="notice"><%= notice %></p>

<p>
  <strong>Cost:</strong>
  <%= @product_group_add_on_list_price.cost %>
</p>

<p>
  <strong>Prices:</strong>
  <%= @product_group_add_on_list_price.prices %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @product_group_add_on_list_price.enabled %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @product_group_add_on_list_price.deleted %>
</p>

<p>
  <strong>Product group:</strong>
  <%= ProductGroup.find(@product_group_add_on_list_price.product_group_id).name %>
</p>

<p>
  <strong>Product group add on list:</strong>
  <%= ProductGroupAddOnList.find(@product_group_add_on_list_price.pr_gr_adon_li_id).name %>
</p>

<p>
  <strong>Product add on:</strong>
  <%= ProductAddOn.find(@product_group_add_on_list_price.product_add_on_id).name %>
</p>

<p>
  <strong>Product category size:</strong>
  <%= ProductCategorySize.find(@product_group_add_on_list_price.pr_cat_size_id).name %>
</p>

<p>
  <strong>User:</strong>
  <%= User.find(@product_group_add_on_list_price.user_id).name %>
</p>

<%= link_to 'Edit', edit_product_group_add_on_list_price_path(@product_group_add_on_list_price) %> |
<%= link_to 'Back', product_group_add_on_list_prices_path %>
