<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this product_group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :onlineViewLabel %><br>
    <%= f.text_field :onlineViewLabel %>
  </div>
  <div class="field">
    <%= f.label :posViewLabel %><br>
    <%= f.text_field :posViewLabel %>
  </div>
  <div class="field">
    <%= f.label :posViewLabel %><br>
    <%= f.text_field :posViewLabel %>
  </div>
  <div class="field">
    <%= f.label :headerImagePath %><br>
    <%= f.text_field :headerImagePath %>
  </div>
  <div class="field">
    <%= f.label :displayIndex %><br>
    <%= f.number_field :displayIndex %>
  </div>
  <div class="field">
    <%= f.label :visibleOnline %><br>
    <%= f.check_box :visibleOnline %>
  </div>
  <div class="field">
    <%= f.label :visibleOnPos %><br>
    <%= f.check_box :visibleOnPos %>
  </div>
  <div class="field">
    <%= f.label :enabled %><br>
    <%= f.check_box :enabled %>
  </div>
  <div class="field">
    <%= f.label :deleted %><br>
    <%= f.check_box :deleted %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :product_category_id %><br>
    <%= f.text_field :product_category_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
