<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<p>
  <strong>Onlineviewlabel:</strong>
  <%= @group.onlineViewLabel %>
</p>

<p>
  <strong>Posviewlabel:</strong>
  <%= @group.posViewLabel %>
</p>

<p>
  <strong>Posviewlabel:</strong>
  <%= @group.posViewLabel %>
</p>

<p>
  <strong>Headerimagepath:</strong>
  <%= @group.headerImagePath %>
</p>

<p>
  <strong>Displayindex:</strong>
  <%= @group.displayIndex %>
</p>

<p>
  <strong>Visibleonline:</strong>
  <%= @group.visibleOnline %>
</p>

<p>
  <strong>Visibleonpos:</strong>
  <%= @group.visibleOnPos %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @group.enabled %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @group.deleted %>
</p>

<p>
  <strong>User:</strong>
  <%= User.find(@group.user_id).name %>
</p>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
