<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product_item_type.name %>
</p>

<p>
  <strong>User:</strong>
  <%= User.find(@product_item_type.user_id).name %>
</p>

<%= link_to 'Edit', edit_product_item_type_path(@product_item_type) %> |
<%= link_to 'Back', product_item_types_path %>
