<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @top_category.name %>
</p>

<p>
  <strong>Shortdescription:</strong>
  <%= @top_category.shortDescription %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @top_category.enabled %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @top_category.deleted %>
</p>

<p>
  <strong>User:</strong>

  <%= User.find(@top_category.user_id).name %>
</p>

<%= link_to 'Edit', edit_top_category_path(@top_category) %> |
<%= link_to 'Back', top_categories_path %>
