<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Total</th>
      <th>Subtotal</th>
      <th>Discount</th>
      <th>Surcharge</th>
      <th>Enabled</th>
      <th>Deleted</th>
      <th>Order type</th>
      <th>Order status</th>
      <th>Order source</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.total %></td>
        <td><%= order.subtotal %></td>
        <td><%= order.discount %></td>
        <td><%= order.surcharge %></td>
        <td><%= order.enabled %></td>
        <td><%= order.deleted %></td>
        <td><%= OrderType.find(order.order_type_id).name %></td>
        <td><%= OrderStatus.find(order.order_status_id).name %></td>
        <td><%= OrderSource.find(order.order_source_id).name %></td>
        <td><%= User.find(order.user_id).name %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
