<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Total:</strong>
  <%= @order.total %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @order.subtotal %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @order.discount %>
</p>

<p>
  <strong>Surcharge:</strong>
  <%= @order.surcharge %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @order.enabled %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @order.deleted %>
</p>

<p>
  <strong>Sales order type:</strong>
  <%= OrderType.find(@order.order_type_id).name %>
</p>

<p>
  <strong>Sales order status:</strong>
  <%= OrderStatus.find(@order.order_status_id).name %>
</p>

<p>
  <strong>Sales order source:</strong>
  <%= @order.order_source.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user.name %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
