<p id="notice"><%= notice %></p>

<p>
  <strong>Prefixlabelonline:</strong>
  <%= @category_size.prefixLabelOnline %>
</p>

<p>
  <strong>Prefixlabelprint:</strong>
  <%= @category_size.prefixLabelPrint %>
</p>

<p>
  <strong>Prefixlabelpos:</strong>
  <%= @category_size.prefixLabelPos %>
</p>

<p>
  <strong>Postfixlabelonline:</strong>
  <%= @category_size.postfixLabelOnline %>
</p>

<p>
  <strong>Postfixlabelprint:</strong>
  <%= @category_size.postfixLabelPrint %>
</p>

<p>
  <strong>Postfixlabelpos:</strong>
  <%= @category_size.postfixLabelPos %>
</p>

<p>
  <strong>Category:</strong>
  <%= @category_size.group_id %>
</p>

<p>
  <strong>User:</strong>
  <%= User.find(@category_size.user_id).name %>
</p>

<%= link_to 'Edit', edit_category_size_path(@category_size) %> |
<%= link_to 'Back', category_sizes_path %>
