<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product_category.name %>
</p>

<p>
  <strong>Shortdescription:</strong>
  <%= @product_category.shortDescription %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @product_category.enabled %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @product_category.deleted %>
</p>

<p>
  <strong>User:</strong>

  <%= User.find_by_id(@product_category.user_id).name %>
</p>

<%= link_to 'Edit', edit_product_category_path(@product_category) %> |
<%= link_to 'Back', product_categories_path %>
