<%= form_for(@product_add_on_list_item) do |f| %>
  <% if @product_add_on_list_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_add_on_list_item.errors.count, "error") %> prohibited this product_add_on_list_item from being saved:</h2>

      <ul>
      <% @product_add_on_list_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :product_add_on_list_id %><br>
    <%= f.text_field :product_add_on_list_id %>
  </div>

  <div class="field">
    <%= f.label :product_add_on_id %><br>
    <%= f.text_field :product_add_on_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
