<%= form_for(@group_addon_list_price) do |f| %>
  <% if @group_addon_list_price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_addon_list_price.errors.count, "error") %> prohibited this product_group_add_on_list_price from being saved:</h2>

      <ul>
      <% @group_addon_list_price.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cost %><br>
    <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.label :prices %><br>
    <%= f.text_field :prices %>
  </div>
  <div class="field">
    <%= f.label :enabled %><br>
    <%= f.check_box :enabled %>
  </div>
  <div class="field">
    <%= f.label :deleted %><br>
    <%= f.check_box :deleted %>
  </div>
  <div class="field">
    <%= f.label :group_id %><br>
    <%= f.text_field :group_id %>
  </div>
  <div class="field">
    <%= f.label :group_addon_list_id %><br>
    <%= f.text_field :group_addon_list_id %>
  </div>
  <div class="field">
    <%= f.label :addon_id %><br>
    <%= f.text_field :addon_id %>
  </div>
  <div class="field">
    <%= f.label :category_size_id %><br>
    <%= f.text_field :category_size_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
