<p id="notice"><%= notice %></p>

<h1>Listing Group Addon List Prices</h1>

<table>
  <thead>
    <tr>
      <th>Cost</th>
      <th>**Prices</th>
      <th>**Enabled</th>
      <th>**Deleted</th>
      <th>**Group</th>
      <th>**Group addon list</th>
      <th>**Addon</th>
      <th>**Category size</th>
      <th>**User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group_addon_list_prices.each do |product_group_add_on_list_price| %>
      <tr>
        <td><%= product_group_add_on_list_price.cost %></td>
        <td><%= product_group_add_on_list_price.prices %></td>
        <td><%= product_group_add_on_list_price.enabled %></td>
        <td><%= product_group_add_on_list_price.deleted %></td>
        <td><%= Group.find(product_group_add_on_list_price.group_id).name %></td>
        <td><%= product_group_add_on_list_price.group_addon_list.name %></td>
        <td><%= Addon.find(product_group_add_on_list_price.addon_id).name %></td>
        <td><%= CategorySize.find(product_group_add_on_list_price.category_size_id).prefixLabelOnline %></td>
        <td><%= User.find(product_group_add_on_list_price.user_id).name %></td>
        <td><%= link_to 'Show', product_group_add_on_list_price %></td>
        <td><%= link_to 'Edit', edit_group_addon_list_price_path(product_group_add_on_list_price) %></td>
        <td><%= link_to 'Destroy', product_group_add_on_list_price, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group addon list price', new_group_addon_list_price_path %>
