<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @item.enabled %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @item.deleted %>
</p>

<p>
  <strong>Product group:</strong>
  <%= Group.find(@item.group_id).name %>
</p>

<p>
  <strong>Product item type:</strong>
  <%= ItemType.find(@item.item_type_id).name %>
</p>
<p>
  <strong>User:</strong>
  <%= User.find(@item.user_id).name %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
