<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Shortdescription:</strong>
  <%= @category.shortDescription %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @category.enabled %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @category.deleted %>
</p>

<p>
  <strong>User:</strong>

  <%= User.find(@category.user_id).name %>
</p>

<%= link_to 'Edit', edit_product_category_path(@category) %> |
<%= link_to 'Back', product_categories_path %>
