<p id="notice"><%= notice %></p>

<p>
  <strong>Prefixlabelonline:</strong>
  <%= @product_category_size.prefixLabelOnline %>
</p>

<p>
  <strong>Prefixlabelprint:</strong>
  <%= @product_category_size.prefixLabelPrint %>
</p>

<p>
  <strong>Prefixlabelpos:</strong>
  <%= @product_category_size.prefixLabelPos %>
</p>

<p>
  <strong>Postfixlabelonline:</strong>
  <%= @product_category_size.postfixLabelOnline %>
</p>

<p>
  <strong>Postfixlabelprint:</strong>
  <%= @product_category_size.postfixLabelPrint %>
</p>

<p>
  <strong>Postfixlabelpos:</strong>
  <%= @product_category_size.postfixLabelPos %>
</p>

<p>
  <strong>Productcategory:</strong>
  <%= ProductCategory.find_by_id(@product_category_size.productCategory_id).name %>
</p>

<%= link_to 'Edit', edit_product_category_size_path(@product_category_size) %> |
<%= link_to 'Back', product_category_sizes_path %>
