<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product_add_on_list.name %>
</p>

<p>
  <strong>Onlineviewlabel:</strong>
  <%= @product_add_on_list.onlineViewLabel %>
</p>

<p>
  <strong>Posviewlabel:</strong>
  <%= @product_add_on_list.posViewLabel %>
</p>

<p>
  <strong>Sortlistbyindex:</strong>
  <%= @product_add_on_list.sortListByIndex %>
</p>

<p>
  <strong>Sortlistbyname:</strong>
  <%= @product_add_on_list.sortListByName %>
</p>

<p>
  <strong>Multipleselection:</strong>
  <%= @product_add_on_list.multipleSelection %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @product_add_on_list.enabled %>
</p>

<p>
  <strong>User:</strong>
  <%= User.find(@product_add_on_list.user_id).name %>
</p>

<%= link_to 'Edit', edit_product_add_on_list_path(@product_add_on_list) %> |
<%= link_to 'Back', product_add_on_lists_path %>
