<%= form_for(@sales_order) do |f| %>
  <% if @sales_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sales_order.errors.count, "error") %> prohibited this sales_order from being saved:</h2>

      <ul>
      <% @sales_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :total %><br>
    <%= f.text_field :total %>
  </div>
  <div class="field">
    <%= f.label :subtotal %><br>
    <%= f.text_field :subtotal %>
  </div>
  <div class="field">
    <%= f.label :discount %><br>
    <%= f.text_field :discount %>
  </div>
  <div class="field">
    <%= f.label :surcharge %><br>
    <%= f.text_field :surcharge %>
  </div>
  <div class="field">
    <%= f.label :enabled %><br>
    <%= f.check_box :enabled %>
  </div>
  <div class="field">
    <%= f.label :deleted %><br>
    <%= f.check_box :deleted %>
  </div>
  <div class="field">
    <%= f.label :sales_order_type_id %><br>
    <%= f.text_field :sales_order_type_id %>
  </div>
  <div class="field">
    <%= f.label :sales_order_status_id %><br>
    <%= f.text_field :sales_order_status_id %>
  </div>
  <div class="field">
    <%= f.label :sales_order_source_id %><br>
    <%= f.text_field :sales_order_source_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
