<p id="notice"><%= notice %></p>

<h1>Listing Sales Orders</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Total</th>
      <th>Subtotal</th>
      <th>Discount</th>
      <th>Surcharge</th>
      <th>Enabled</th>
      <th>Deleted</th>
      <th>Sales order type</th>
      <th>Sales order status</th>
      <th>Sales order source</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales_orders.each do |sales_order| %>
      <tr>
        <td><%= sales_order.name %></td>
        <td><%= sales_order.total %></td>
        <td><%= sales_order.subtotal %></td>
        <td><%= sales_order.discount %></td>
        <td><%= sales_order.surcharge %></td>
        <td><%= sales_order.enabled %></td>
        <td><%= sales_order.deleted %></td>
        <td><%= SalesOrderType.find(sales_order.sales_order_type_id).name %></td>
        <td><%= SalesOrderStatus.find(sales_order.sales_order_status_id).name %></td>
        <td><%= SalesOrderSource.find(sales_order.sales_order_source_id).name %></td>
        <td><%= User.find(sales_order.user_id).name %></td>
        <td><%= link_to 'Show', sales_order %></td>
        <td><%= link_to 'Edit', edit_sales_order_path(sales_order) %></td>
        <td><%= link_to 'Destroy', sales_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sales order', new_sales_order_path %>
